@font-face {
    font-family: "custom";
    src: url("./Fonts/TrajanProBold.ttf");
}

ol {
    list-style:number;
   
}

li {
    background-image: linear-gradient(to right, #FEAC5E, #C779D0,#4bc0c8);
    float:left;
    clear: both;
}

.names {
    padding: 1px;
    position:relative;
    mix-blend-mode:luminosity;
    background:white;
    color:gray;
}

.names2 {
    font-family: custom;
    font-size: 5rem;
    background-image: linear-gradient(45deg,#ff7200,#5c00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0.2rem 0.2rem black);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
}

.hide {
    display: none;
}

.fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}