@font-face {
    font-family: "trajan";
    src: url("./Fonts/TrajanProBold.ttf");
}

ul {
    list-style:number;
   
}

li {
    background-image: linear-gradient(to right, #FEAC5E, #C779D0,#4bc0c8);
    float:left;
    clear: both;
}

.names {
    padding: 1px;
    position:relative;
    mix-blend-mode:luminosity;
    background:white;
    color:gray;
}

.names2 {
    font-family: trajan;
    font-size: 5rem;
    background-image: linear-gradient(45deg,#ff7200,#5c00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0.2rem 0.2rem black);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
}