html {
  height: 100%;
}

body {
  background-color: gray;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

a {
  color: white;
}

#body {
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items:center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15vh;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0px 0px 50px black;
}

#body p1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 5vh;
}

.thumbnail img {
  height: 200px;
  width: 200px;
  object-fit:cover;
  background-color: black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0px 10px 20px black;
}

.thumbnail {
  height: 270px;
  width: 200px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content:end;
  text-align: center;
  font-size: small;
  margin-bottom: 5vh;
  text-overflow: hidden;
}

.thumbnail span {
  margin-bottom: 10px;
}

#contextMenu {
  height: 180px;
  width: 175px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  translate: 0px 00px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  overflow-y: auto;
  scrollbar-width: thin;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(32, 32, 32);
  border-radius: 10px;
}

.hidden {
  display: none;
}

#search-bar {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 80%;
}

#search-bar input {
  height: 60px;
  width: 600px;
  font-size: larger;
  border: none;
  padding-left: 60px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  margin-right: 3%;
}

#search-bar button {
  height: 60px;
  width: 100px;
  font-size: large;
  border: none;
  background-color: green;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}



#modalWindow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
  padding-top: 5%;
}

#modalWindow #mainWindow {
  padding: 3rem 2rem 3rem 3rem;
  background-color: rgb(34, 34, 34);
  border: solid 0.5rem white;
  min-width: 30%;
  width: fit-content;
  margin: auto;
}

#header {
  display: flex;
  justify-content:left;
  align-items: center;
  margin-bottom: 3rem;
}
#header * {
  margin: 0.1rem;
}
#header div {
  display: flex;
  flex-direction:column;
  width: auto;
}
#header img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

#modalWindow form {
  width: 100%;
}

#modalWindow form input,select {
  width: 2rem;
  height: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

#modalParam {
  max-height: 50vh;
  overflow-y: auto;
}

/* width */
#modalParam::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#modalParam::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#modalParam::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.modalElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.variable {
  width: auto !important;
}

#callToAction {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

#callToAction button {
  font-weight: bold;
  width: 40%;
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 100ms;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
}

#callToAction button:hover {
  color: rgb(37, 37, 37);
  background-color: rgb(201, 201, 201);
  transition: 100ms;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
}